div
{
    width: 400px;
    height: 40px;
    padding: 5px;
    text-align: center;
    border: 3px solid #ff0000;
}

p
{
    justify-self: center;


    margin: 0;                    
    width: 300px;
    border: inherit;
    padding: inherit;
    background-color: #b3b3b3;
}


