div 
{
    width: 360px;
    font-size: 20px;
    line-height: 60px;
    background-color: rgb(212, 212, 212);
}

div::first-letter 
{
    color: white;
    padding: 12px 10px;
    background-color: rgb(244, 67, 54);


    margin-right: 10px;
}
